@import './colors.scss';

body {
	background: $background-color;
	color: $text-color;
}

.Home {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-areas:
		"filter-nav note-area"
		"note-nav note-nav"
}

* {
	font-family: 'Montserrat', sans-serif;
	transition: all 0.2s ease;

	&:focus {
		outline: none;
	}
}
