@import './colors.scss';

body {
	font-family: sans-serif;
	background: $background-color;
	color: $text-color;
}

.Home {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	grid-template-areas:
		"header header header"
		"filter-nav note-nav note-area";
}
