body {
	font-family: sans-serif;
}

.Home {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-areas:
		"header header header"
		"app-controls app-controls app-controls"
		"filter-nav note-nav note-area";
}
