@import '../../colors.scss';

.NoteArea {
	grid-area: note-area;
	background: $background-color;
	border: 1.5px solid $border-color;
	box-shadow: 0px 0px 0px black;
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
	color: $text-color;

	&:focus {
		outline: none;
		border-color: $border-selected-color;
		box-shadow: 2px 2px 10px black;
	}
}
